<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresá</title>

    <!-- Links-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   

    <!-- Tipografia -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <!-- Iconos -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />

    <!-- Stylesheets -->
    <link href="/css/header.css" rel="stylesheet">
    <link href="/css/footer.css" rel="stylesheet">
    <link href="/css/login.css" rel="stylesheet">
</head>

<body>
                  <!-- HEADER -->
    <header class="main-header">
        <section class="header-top">
            <picture id= "logo-mercado-liebre">
                <img src="/images/logo-mercado-liebre.svg" alt='Logo Mercado Liebre' >
            </picture>
            <form id="buscador"> 
                <input type="search" value = "Buscar productos, marcas" id="barra"><button type="submit" onclick=""> <i class="fas fa-search"></i></button> 
            </form>
            <article id='header-copy'>
                <p><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>
            </article>
        </section>
        
        <section>
            <article class="menu_hamburguesa">
                <i class="fas fa-bars" id="menu_hamburguesa"></i>
            </article>
        </section>  
         
        <section class="header-bottom">
            <nav class="navegador-left">
                <a class="links" href="/">Ofertas</a>
                <a class="links" href="">Tiendas Oficiales</a>
                <a class="links" href="">Vender</a>
                <a class="links" href="">Ayuda</a>
            </nav>
            <nav class="navegador-right">
                <a class="links" href="/register">Creá tu cuenta <i class="far fa-id-card"></i> </a>
                <a class="links" href="/login">Ingresá <i class="fas fa-sign-in-alt"></i> </a>
                <a class="links" href="/">Mis compras <i class="fas fa-shopping-basket"></i> </a>
            </nav>
            
        </section>
    </header>
                    <!-- MAIN -->
    <main>
        <form action="" method="post">

            <fieldset id="form-login">
                <input type="text" class="registro" name="usuario" placeholder="Nombre de Usuario" required>
                <input type="password" class="registro" name="password" placeholder="Ingresá tu contraseña" required>
                <input type="button" id="button"  value="Ingresá">
            </fieldset>
        </form>
    </main>
                    <!-- FOOTER -->
    <footer>
        <section id="footer-flex">
            <article class="footer-article">
                <i class="fas fa-credit-card footer-icon"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </article>
            <article class="footer-article">
                <i class="fas fa-box footer-icon"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </article>
            <article class="footer-article">
                <i class="fas fa-user-shield footer-icon"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </article>
        </section>    
            <article>
                <h3 id="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
            </article>
    </footer>    
</body>
</html>